
body{
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
}


.screen{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s, margin cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
}

.screen.up{
    margin-top: -100vh;
}

/**/
.grid{
    width: min(80%, 600px);
    max-height: 675px;
    position: relative;
    z-index: 1;

    & .grid-title{
        color: #1f1f1f;
        display: flex;
        flex-direction: column;
        margin: 0 0 64px 0;

        & h1, h6{
            transition: color cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
        }

        & h1{
            font-size: 1.8em;
            text-transform: capitalize;
        }

        & h6{
            font-size: 1em;
            font-weight: 300;
            letter-spacing: 2px;
        }
    }

    & .grid-itens{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;

        & .grid-item{
            width: 100%;
            max-height: 164px;
            border-radius: 8px;
            overflow: hidden;
            transition: margin cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
            cursor: pointer;
            background: #1f1f1f;

            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .grid-item.active{
            margin-top: -10px;
            box-shadow: 0px 8px 0px 0px #1f1f1f;
        }
    }
}

/**/
.dialog{
    width: min(80%, 600px);
    padding: 16px;
    position: absolute;
    background: white;
    z-index: 9999;
    display: none;

    & .dialog-title{
        margin: 0 0 32px 0;
    }

    & .dialog-content{
        width: 100%;
        display: flex;
        flex-direction: column;

        & .row{
            display: block;
            margin: 8px 0 0 0;

            & label{
                display: block;
                margin: 0 0 4px 0;
            }

            & input:not([type="submit"]){
                width: 100%;
                padding: 8px 0;
            }

            & textarea{
                width: 100%;
                height: 100px;
            }
        }

        & .row:last-child{
            display: flex;
            justify-content: end;
            align-items: center;
            margin: 32px 0 0 0;

            & input{
                padding: 8px 16px;
                text-indent: 8px;
            }
        }
    }
}


/**/
.background{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #1f1f1f;
    z-index: 999;
    position: absolute;
    display: none;
}

/**/
.box{
    width: min(80%, 600px);
   
    & .box-text{
        color: white;
        font-weight: 300;
        text-transform: math-auto;
        line-height: 28px;
        padding: 32px 0;
        border-bottom: 8px dotted white;
        text-align: justify;
        font-family: "Playwrite NG Modern", cursive;
    }

    & .box-book{
        text-align: center;
        color: white;
        margin: 32px 0 0 0;
        font-weight: 300;
        font-family: "Playwrite NG Modern", cursive;
    }
}

/**/
.btn{
    position: absolute;
    font-size: 1.6em;
    cursor: pointer;
    color: #1f1f1f;
    top: 15px;
    right: 15px;
}

/**/
.confirm{
    width: min(80%, 600px);
    margin: 0 0 -160px 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    transition: margin cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;

    & .confirm-qst{
        font-size: 1em;
        text-align: center;
        margin: 16px 0 0 0;
    }
    
    & .confirm-aw{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 16px 0;

        & button{
            margin: 0 16px 0 0;
        }
    }

    & .confirm-timer{
        width: 0;
        height: 4px;
        background: #1f1f1f;
        transition: width linear 0.5s;
    }

}

/**/
.hidden-display{
    opacity: 0;
    transition: opacity cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s !important;
}

.hidden-display:nth-child(1) { transition-delay: .4s !important; }
.hidden-display:nth-child(2) { transition-delay: .8s !important; }
.hidden-display:nth-child(3) { transition-delay: 1.2s !important; }
.hidden-display:nth-child(4) { transition-delay: 1.6s !important; }
.hidden-display:nth-child(5) { transition-delay: 2s !important; }
.hidden-display:nth-child(6) { transition-delay: 2.4s !important; }
.hidden-display:nth-child(7) { transition-delay: 2.6s !important; }
.hidden-display:nth-child(8) { transition-delay: 3s !important; }

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {

    .grid {
        max-height: 675px;
    }

    .grid .grid-itens {
        grid-template-rows: repeat(2, 170px);
    }
}
